{% extends 'base.html' %}

{% block style %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='board/style.css') }}">
{% endblock %}

{% block head %}
  <script>
    let data;
    function getOrionData() {
        event?.preventDefault();
        event?.stopPropagation();
        $.ajax({
            url: '{{url_for("board.getOrionData")}}',
            type: 'POST',
            success: function (response) {
              //console.log(JSON.stringify(response));
              data = response;
            },
            error: function (response) {
            }
        });
    }
  </script>
{% endblock %}


{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
  {% if g.user %}
    <h1>Olá {{ g.user['username'] }}</h1>
  {% endif %}
{% endblock %}

{% block content %}
  <button disabled>Criar novo quadro</button>
  <div class="grid"></div>
  
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('static', filename='board/board1.js') }}"></script>
{% endblock %}
```

