{% extends 'base.html' %}

{% block style %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='board/style.css') }}">
{% endblock %}

{% block head %}
  <script>
    let data;
    let callInProgress = false;
    function getOrionData() {
        event?.preventDefault();
        event?.stopPropagation();
        $.ajax({
            url: '{{url_for("board.getOrionData")}}',
            type: 'POST',
            success: function (response) {
              //console.log(JSON.stringify(response));
              data = response;
            },
            error: function (response) {   
            },
            complete: function (response) {
              callInProgress = false;
            }
        });
    }
  </script>
{% endblock %}


{% block header %}
  {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block content %}
  <div class="grid">
    <div class="container">
      <h3>Dispositivo 1</h3>
      <div id="orion__device1__temp" class="plotly"></div>
      <div id="orion__device1__hum" class="plotly"></div>
      <p id="orion__device1__last_update"  class="last__update">Última atualização em: </p>
    </div>
    <div class="sth">STH-Comet dashboard</div>
    <div class="container">
      <h3>Dispositivo 2</h3>
      <div id="orion__device2__temp" class="plotly"></div>
      <div id="orion__device2__hum" class="plotly"></div>
      <p id="orion__device2__last_update" class="last__update">Última atualização em: </p>
    </div>
  </div>
  
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
<script src="{{ url_for('static', filename='board/board1.js') }}"></script>
{% endblock %}
```

