{% extends 'base.html' %}

{% block style %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='board/style.css') }}">
{% endblock %}

{% block head %}
  <script>
    let data;
    let callInProgress = false;
    function getOrionData() {
        event?.preventDefault();
        event?.stopPropagation();
        $.ajax({
            url: '{{url_for("board.getOrionData")}}',
            type: 'POST',
            success: function (response) {
              //console.log(JSON.stringify(response));
              data = response;
            },
            error: function (response) {   
            },
            complete: function (response) {
              callInProgress = false;
            }
        });
    }

    let sthData;
    function getSthData() {
      event?.stopPropagation();

      let dateFromInput = document.querySelector('#dateFrom');
      let dateToInput = document.querySelector('#dateTo');

      let attr = document.querySelector('#attr');
      let device = document.querySelector('#device');
      let samples = document.querySelector('#samples');

      // Convert the dates
      let dateFrom = new Date(dateFromInput.value).toISOString();
      let dateTo = new Date(dateToInput.value).toISOString();

      $.ajax({
          url: '{{url_for("board.sthCometV2")}}',
          type: 'POST',
          data: {
            device: device.value,
            attr: attr.value,
            dateFrom: dateFrom,
            dateTo: dateTo,
            samples: samples.value
          },
          success: function (response) {
            //console.log(JSON.stringify(response));
            sthData = response;
            formConstruct.classList.remove('hidden');
          },
          error: function (response) {   
          }
      });
    }
  </script>
{% endblock %}


{% block header %}
  {% block title %}SENSE-I Dashboard{% endblock %}
{% endblock %}

{% block content %}
  <div class="grid">
    <div class="container">
      <h3>Sensor ambiente</h3>
      <div id="orion__device1__temp" class="plotly"></div>
      <div id="orion__device1__hum" class="plotly"></div>
      <p id="orion__device1__last_update"  class="last__update">Última atualização em: </p>
    </div>
    <div id="sth_comet_container" class="sth">
      <div class="forms">
        <form id="sth_comet_form" onsubmit='return false'>
          <div>
            <label for="device">Dispositivo:</label>
            <select id="device" name="device">
              <option value="urn:ngsi-ld:dmie001">Estufa 001</option>
              <option value="urn:ngsi-ld:dmie002">Estufa 002</option>
            </select>
          </div>
  
          <div>
            <label for="attr">Parâmetro</label>
            <select id="attr" name="attr">
              <option value="temperature">Temperatura</option>
              <option value="humidity">Umidade</option>
            </select>
          </div>
          
          <div>
              <label for="dateFrom">Data de:</label>
            <input type="datetime-local" id="dateFrom" name="dateFrom">
          </div>
          
          <div>
              <label for="dateTo">Data até:</label>
            <input type="datetime-local" id="dateTo" name="dateTo">
          </div>

          <div>
            <label for="samples">Amostras:</label>
            <input type="number" id="samples" name="samples">
          </div>
          
          <div>
            <label for="submit">&nbsp;</label>
            <input class="submit" type="submit" onclick="getSthData()" id="submit" value="Pesquisar">
          </div>
          
        </form>
  
        <form id="sth_comet_construct_plot" class="hidden" onsubmit='return false'>
          <div>
            <label for="plotType">Tipo:</label>
            <select id="plotType" name="plotType">
              <option value="lines">Linha</option>
              <option value="markers">Dispersão</option>
              <option value="lines+markers">Linha e dispersão</option>
            </select>
          </div>
          <div>
            <label for="plotTitle">Título:</label>
            <input type="text" id="plotTitle" name="plotTitle" required>
          </div>
          <div>
            <label for="plotLineName">Nome da linha:</label>
            <input type="text" id="plotLineName" name="plotLineName">
          </div>
          <div>
            <label for="plotColor">Cor:</label>
            <input type="color" name="plotColor" id="plotColor" value="#4781b4">
          </div>
          <div>
            <label for="submit">&nbsp;</label>
            <input class="submit" type="submit" onclick="updateSthComet()" title="Dica: para adicionar múltiplas linhas, use o mesmo título." value="criar / adicionar">
          </div>
        </form>
      </div>
      

    </div>
    <div class="container">
      <h3>Estufa 1</h3>
      <div id="orion__device2__temp" class="plotly"></div>
      <div id="orion__device2__hum" class="plotly"></div>
      <p id="orion__device2__last_update" class="last__update">Última atualização em: </p>
    </div>
  </div>
  
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
<script src="{{ url_for('static', filename='board/board-orion.js') }}"></script>
<script src="{{ url_for('static', filename='board/board-sth.js') }}"></script>
{% endblock %}
```

