<!doctype html>
<head>
  <title>Dmie {% block title %}{% endblock %}</title>
  <!-- <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  {% block style %}{% endblock %}
  {% block head %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<section class="content">
  <header>
    <h1 class="title">{% block header %}{% endblock %}</h1>
  </header>
  {% block content %}{% endblock %}
</section>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% block script %}{% endblock %}
