{% extends 'base.html' %}

{% block header %}
  {% block title %}Registre-se{% endblock %}
{% endblock %}

{% block style %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='auth/style-auth.css') }}">
{% endblock %}

{% block content %}
  <form method="post" class="content__default">
    <label for="username">Usuário</label>
    <input name="username" id="username" required>
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Registrar">
  </form>
{% endblock %}
