<!doctype html>
<title>Dmie {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block style %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<button class="open-button" onclick="toggleNav()">Menu</button>
<nav class="nav-container" id="navMenu">
  <div class="close-button" onclick="toggleNav()">&times;</div>
  <div class="nav-content">
    <div class="nav-user-info">
      {% if g.user %}
        <img class="nav-user-info__img" src="{{ g.user['profile_image'] }}" alt="Profile Image">
        <span>{{ g.user['username'] }}</span>
        <br>
        <a href="{{ url_for('auth.logout') }}">Sair</a>
      {% else %}
        <img class="nav-user-info__img" src="{{ url_for('static', filename='images/default_profile_image.png') }}" alt="Profile Image">
        <a href="{{ url_for('auth.register') }}">Registre-se</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
      {% endif %}
    </div>
    <div class="nav-links">
      {% if g.user %}
        <a href="{{ url_for('board.dashboard') }}">Início</a>
        <a href="{{ url_for('board.about') }}">Sobre</a>
      {% else %}
        <a href="{{ url_for('board.index') }}">Início</a>
        <a href="{{ url_for('board.about') }}">Sobre</a>
      {% endif %}
    </div>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% block script %}{% endblock %}
